/* ../../../public/fonts/Manrope-VariableFont_wght.ttf - dev */
/* /fonts/Manrope-VariableFont_wght.ttf - prod */

@font-face {
	src: url('../../../public/fonts/Manrope-VariableFont_wght.ttf');
	font-family: Manrope;
}

html {
	font-family: Manrope, sans-serif;
}
